.header {
  background-color: var(--header-color);
  border-bottom: 1px solid var(--background-border-color-two);
}

.header-container {
  display: flex;
  align-items: center;
}

.homepage {
  display: inline-block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--background-text-color);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.homepage-footer {
  display: inline-block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--background-text-color);
}

.homepage-dark {
  color: var(--third-text-color);
}
.homepage-light {
  color: var(--header-color);
}

.header-nav {
  margin-right: auto;
}
.nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.menu-list {
  display: flex;
}

.menu-list-link {
  margin-right: 50px;

  &:last-child {
    margin-right: 0px;
  }
}
.header-contacts-link {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}
.nav-link {
  position: relative;
}

.contacts-container {
  display: flex;
}

.contact-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--second-text-color);
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}
